<div class="menu">
  <ul>
    <li><%= link_to 'Endre', edit_article_path(@article), :class => 'menu' %></li>
    <li><%= link_to 'Slett', @article, :confirm => 'Er du sikker?', :method => :delete, :class => 'menu' %></li>
  </ul>
</div>

<p id="notice"><%= notice %></p>

<%= render 'read' %>
