<!DOCTYPE html>
<html>
<head>
  <title>Read</title>
  <%= stylesheet_link_tag    "read/application", :media => "all" %>
  <%= javascript_include_tag "read/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
